In [19]:
# Reading CSV file data
import pandas as pd
filepath='Files/income.csv'
incomedf= pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
len(incomedf.values)

5

In [5]:
(incomedf.columns)

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [270]:
# Average Income of all states from 2005 to 2013
def getcolumnindex(incomedf,columnkey):
    for i in range(len(incomedf.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex
    

def avgincomeofgivenrange(incomedf,styr,endyr):
    sum=0
    c=0
    ind=0
    startyear=0      
    l=[]
    """for c in incomedf.columns:
        if c.isdigit():
            l.append(c)
    print(l)"""

    for r in range(len(incomedf.values)):
        for i in range(2,len(incomedf.columns)):
            sum+=incomedf.values[r][i]
            c+=1
    print(c)
    print(sum)
    print(sum//c)
            

filepath='Files/income.csv'
incomedf= pd.read_csv(filepath)
avgincomeofgivenrange(incomedf,2003,2013)

45
2199422
48876

In [3]:
# Average Income of all states from 2005 to 2013
def getcolumnindex(columnkey):
    columnindex=0
    for i in range(len(incomedf.columns)):
        if incomedf.columns[i]==columnkey:
            columnindex=i
    return columnindex
    

def avgincomeofgivenrange(incomedf,lb,ub):
    sum=0
    c=0
    ind=0
    startyear=0      
    l=[]
    for c in incomedf.columns:
        if c.isdigit():
            l.append(c)
    print(l)
    for r in incomedf.values:
        for rw in r:
            if rw.isdigit():
                li.append(rw)
    print(li)
        
            

filepath='Files/income.csv'
incomedf= pd.read_csv(filepath)
avgincomeofgivenrange(incomedf,getcolumnindex("2003"),getcolumnindex("2013"))

['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

AttributeError: 'int' object has no attribute 'isdigit'

In [106]:
l=[]
for c in incomedf.columns:
    if c.isdigit():
        l.append(c)
print(l)

['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

In [59]:
len(incomedf.columns)

11

In [60]:
for column in incomedf.columns:
    print(column)

GEOID
State
2005
2006
2007
2008
2009
2010
2011
2012
2013

In [82]:

sum(incomedf.loc[: ,"2006"])

233403

In [21]:
def getcolumnindex(incomedf,columnkey):
    columnindex=0
    for i in range(len(incomedf.columns)):
        if incomedf.columns[i]==columnkey:
            columnindex=i
    return columnindex
getcolumnindex(incomedf,"2009")

6

In [6]:
for row in incomedf.values:
    print(row)

['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
 41381]
['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
 61137]
['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
 50602]
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]

In [271]:
# State with highest average income in the last three years
sum=0
for row in incomedf.values:
    sum+=row[-3:]
max(sum/len(incomedf.values))

50113.4

In [ ]:
# State with lowest average income from 2007 to 2010(inclusive)
def lowestavgincome(incomedf,styr,endyr):
    
    


lowestavgincome(incomedf,2007,2010)

In [30]:
import numpy as np
p=0
c=0
c1=0
l=[]
temp = c; 
for row in incomedf.values:
    p=np.sum(row[getcolumnindex("2007"):getcolumnindex("2011")])
    #print(p,'\n')
    #print(row[1],":",)
    l.append(p)
inde=min(l)
print(inde)

155506

In [46]:
def accessdataframerow(df,key): 
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessdataframerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [183]:
# State with the lowest recorded income from 2005 to 2013
import numpy as np
l=[]
pr=0
for row in incomedf.values:
    p=row[getcolumnindex("2005"):getcolumnindex("2013")]
    for i in p:
        l.append(i)
pr=min(l)
print(pr)
p=accessdataframerow(incomedf,pr)
print(p)

36538
04000US05 Arkansas 36658 37057 40795 39586 36538 38587 41302 39018 39919 None

In [7]:
def getRowIndex(df, rowkey):
    #print(df.values)
    rowindex=0
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
getRowIndex(incomedf,2009)

0

In [12]:
# Print the names of states based on descending order of income in the year 2009
d={}
d1={}
l=[]
i=0
for row in incomedf.values:
    #d[row[1]]=row[-5]
    p=row[-5]
    l.append(p)
# print(sorted(l))
for row in incomedf.values:
    d[row[1]]=l[i]
    i+=1
# print(d)
l=sorted(l,reverse=True)
# d1 = dict([(value, key) for key, value in d.items()]) 
# print(d1)
for i in l:
    for item in d.items():
        if i==item[1]:
            print(item[0],':',item[1])

Alaska : 61604
California : 56134
Arizona : 45739
Alabama : 39980
Arkansas : 36538

In [276]:
# Print the list of all states in the same line with average income less than California
d={}
d1={}
d2={}
l=[]
i=0
for row in incomedf.values:
    #d[row[1]]=row[-5]
    p=row[-5]
    l.append(p)
# print(sorted(l))
for row in incomedf.values:
    d[row[1]]=l[i]
    i+=1
# print(d)
l=sorted(l,reverse=True)
d1 = dict([(value, key) for key, value in d.items()]) 
# print(d1)
for i in l:
    for item in d1.items():
        if i==item[0]:
            d2[item[1]]=d2[item[0]]
            #print(item[1],':',item[0])
print(d2)

KeyError: 61604

In [181]:
# State with lowest average income from 2007 to 2010(inclusive)

for i in incomedf.columns:
    print(i)

print(row[getcolumnindex("2007")])

GEOID
State
2005
2006
2007
2008
2009
2010
2011
2012
2013
55734

In [224]:
# Print the list of all states in the same line with average income less than California
l=[]
c=0
for i in range(2,len(incomedf.columns)):
    #print(row[i])
    l.append(row[i])
    c+=1
print(c)
print(sum(l)//c)

9
55350

In [237]:
for row in incomedf.values:
    #for column in incomedf.columns:
        #print(column)
        print(row[1],':',row[getcolumnindex("2009")])

Alabama : 39980
Alaska : 61604
Arizona : 45739
Arkansas : 36538
California : 56134

In [ ]:
i=-1
for row in incomedf.values:
    #print(row)
    print(row[i])
    sum+=row[-1:]
max(sum/len(incomedf.values))

In [265]:
# swap of key and value  
    
# initializing dictionary  
old_dict = {'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23} 
  
# Printing original dictionary  
print ("Original dictionary is : ") 
print(old_dict)  
  
print() 
new_dict = {} 
for key, value in old_dict.items(): 
    if value in new_dict: 
        new_dict[value].append(key) 
    else: 
        new_dict[value]=[key] 
# Printing new dictionary after swapping 
# keys and values 
print ("Dictionary after swapping is :  ")  
print("keys: values") 
for i in new_dict: 
    print(i, " :", new_dict[i])

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

Dictionary after swapping is :
keys: values
67  : ['A', 'G']
23  : ['B', 'H']
45  : ['C']
12  : ['E']
69  : ['F']

In [266]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [267]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']