In [14]:
# Dictionary


d={}
d=dict()
d={"name":"lavanya","age":22,"pin":447}
d9=dict([(value,key) for key,value in d.items()])
#d9=dict([(value, key) for key, value in d.items()]) 
d9

{'lavanya': 'name', 22: 'age', 447: 'pin'}

In [2]:
d["name"]

'lavanya'

In [4]:
d["name"]="Mercy"
d

{'name': 'Mercy', 'age': 22, 'pin': 447}

In [5]:
d["branch"]="ECE"
d

{'name': 'Mercy', 'age': 22, 'pin': 447, 'branch': 'ECE'}

In [8]:
d.setdefault("marks",89)
d

{'name': 'Mercy', 'age': 22, 'pin': 447, 'branch': 'ECE', 'marks': 89}

In [9]:
d.setdefault("marks",34)

89

In [10]:
d1={"name":["sri","Mercy","puppy"],"rollNO":[111,222,777]}
d1

{'name': ['sri', 'Mercy', 'puppy'], 'rollNO': [111, 222, 777]}

In [11]:
d1["name"][1]

'Mercy'

In [12]:
d1["rollNO"][1]

222

In [13]:
len(d1["name"])

3

In [33]:
l=list(d1.keys())
l[0]

'name'

In [38]:
for i in range(len(d1["name"])):
    print("Student "+str(i+1),":",d1[l[0]][i]," ",d1["rollNO"][i])

Student 1 : sri   111
Student 2 : Mercy   222
Student 3 : puppy   777

In [39]:
d1["name"]

['sri', 'Mercy', 'puppy']

In [48]:
d3={}
for i in range (len(d1["name"])):
    d3[i+1]=d1["name"][i]
d3

{1: 'sri', 2: 'Mercy', 3: 'puppy'}

In [52]:
for i,v in enumerate(d1["name"],2):
    print(i,v)

2 sri
3 Mercy
4 puppy

In [53]:
d1.items()

dict_items([('name', ['sri', 'Mercy', 'puppy']), ('rollNO', [111, 222, 777])])

In [54]:
for key,val in d1.items():
    print(key,val)

name ['sri', 'Mercy', 'puppy']
rollNO [111, 222, 777]

In [57]:
marks={}.fromkeys(d1["name"],77)
marks

{'sri': 77, 'Mercy': 77, 'puppy': 77}

In [61]:
d1.get("name")

['sri', 'Mercy', 'puppy']

In [60]:
print(d1.get("n"))

None

In [62]:
d1.get("salary","not existed")

'not existed'

In [65]:

d3.clear() # clear keys n values 
d3

{}

{}

In [76]:
# Mercy 77 
# 44 puppy
# niha 22
k=input().split()
print(k)
d={}
l=[]
l1=[]
for i in range(len(k)):
    if k[i].isalpha():
        l.append(k[i])
    else:
        l1.append(k[i])
for i in range(len(l)):
    d[l[i]]=l1[i]
d

22 33 44 puppy mercy niha
['22', '33', '44', 'puppy', 'mercy', 'niha']

{'puppy': '22', 'mercy': '33', 'niha': '44'}

In [77]:
print(type(5))

<class 'int'>

In [83]:
int.__add__(4,5)

9

In [84]:
int.__sub__(4,5)

-1

In [85]:
int.__mul__(4,5)

20

In [86]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [89]:
str.__add__("4","5")

'45'

In [91]:
int.__mod__(4,5)

4

In [95]:
def range1(st,s,inc=1):
    print(st,s,inc)
range1(1,10)

1 10 1

In [98]:
print("%d",342)

%d 342

In [5]:
t=int(input())
c=0
for i in range(t):
    n=int(input())
    for k in range(1,n+1):
        for j in range(k+1,n+1):
            s=k^j
            #print(s)
            if s<=n:
                c+=1
    print(c)

1
4
3

In [11]:
t=int(input())
c=0
for i in range(t):
    n=int(input())
    l=list(map(int,input().split()))
    print(l)
    for k in range(1,n):
        for j in range(k+1,n+1):
            s=k^j
            #print(s)
            if s<=n:
                c+=1
    print(c-1)

1
4
1 2 3 4
[1, 2, 3, 4]
2