In [1]:
# swap of key and value  
    
# initializing dictionary  
old_dict = {'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23} 
  
# Printing original dictionary  
print ("Original dictionary is : ") 
print(old_dict)  
  
print() 
new_dict = {} 
for key, value in old_dict.items(): 
    if value in new_dict: 
        new_dict[value].append(key) 
    else: 
        new_dict[value]=[key] 
# Printing new dictionary after swapping 
# keys and values 
print ("Dictionary after swapping is :  ")  
print("keys: values") 
for i in new_dict: 
    print(i, " :", new_dict[i])

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

Dictionary after swapping is :
keys: values
67  : ['A', 'G']
23  : ['B', 'H']
45  : ['C']
12  : ['E']
69  : ['F']

In [3]:
# Reading CSV file data
import pandas as pd
filepath='Files/income.csv'
incomedf= pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
# Average Income of all states from 2005 to 2013
def getcolumnindex(columnkey):
    columnindex=0
    for i in range(len(incomedf.columns)):
        if incomedf.columns[i]==columnkey:
            columnindex=i
    return columnindex
    

def avgincomeofgivenrange(incomedf,lb,ub):
    sum=0
    c=0
    ind=0
    startyear=0      
    l=[]
    for c in incomedf.columns:
        if c.isdigit():
            l.append(c)
    print(l)
    for r in incomedf.values:
        for rw in r:
            if rw.isdigit():
                li.append(rw)
    print(li)
        
            

filepath='Files/income.csv'
incomedf= pd.read_csv(filepath)
avgincomeofgivenrange(incomedf,getcolumnindex("2003"),getcolumnindex("2013"))

['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

AttributeError: 'int' object has no attribute 'isdigit'

In [7]:
for row in incomedf.values:
    #for column in incomedf.columns:
        #print(column)
        print(row[1],':',row[getcolumnindex("2009")])

Alabama : 39980
Alaska : 61604
Arizona : 45739
Arkansas : 36538
California : 56134

In [9]:
def accessdataframerow(df,key): 
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessdataframerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [10]:
# State with the lowest recorded income from 2005 to 2013
import numpy as np
l=[]
pr=0
for row in incomedf.values:
    p=row[getcolumnindex("2005"):getcolumnindex("2013")]
    for i in p:
        l.append(i)
pr=min(l)
print(pr)
p=accessdataframerow(incomedf,pr)
print(p)

36538
04000US05 Arkansas 36658 37057 40795 39586 36538 38587 41302 39018 39919 None