In [ ]:
# Function to identify Kth smallest frequency elements if there are many such elememts return the smallest

In [19]:
# PROBLEM3: Function to print all combinations of pairs of integers in a unique list
# [1,2,3]-->(1,2),(1,3),(2,3) --> 3C2 --> 3!/(3-2)!*2!)
# [1,2,3,4]---> 1,2  1,3  1,4  2,3  2,4  3,4

def combinations3(l):
    for i in range(len(l)-2):
        for j in range(i+1,len(l)-1):
            for k in range(j+1,len(l)):
                print(l[i],l[j],l[k],"\n")
combinations3([1,2,3,4,5])

1 2 3

1 2 4

1 2 5

1 3 4

1 3 5

1 4 5

2 3 4

2 3 5

2 4 5

3 4 5

In [5]:


def differencePairs(l):
    cl=l
    for i in range(len(cl)-1):
        for j in range(i+1,len(cl)):
            d= abs(l[i]-l[j])
            if d not in cl:
                cl.append(d)
    return cl

differencePairs([1,9,8])

[1, 9, 8, 7, 2]

In [80]:
#process2:
def medium(l,k):
    while(True):
        li3=differencePairs(l)
        if li3[0]==li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]    
    return -1
# function to identify differences of all pair numbers
# pairs of numbers and add those differences and add to the same list 
def differencePairs(l):
    cl=l[:]
    newelements=[]
    for i in range(len(l)-1):
        for j in range(i+1,len(l)):
            d= abs(l[i]-l[j])
            if d not in l and d not in newelements:
                newelements.append(d)
    l.extend(newelements)
    return [cl,l]
fipath='Files/medium-input.txt'
with open(fipath,'r') as f:
    t=int(f.readline())
    for i in range(t):
        f.readline()
        l=f.readline().split()
        k= int(f.readline())
        
            
l=[1,32]                
print(medium(l),2)

TypeError: medium() missing 1 required positional argument: 'k'

In [64]:
a=[1,2,3]
b=[3,1,2]
a=b
b.append(5)
a

[3, 1, 2, 5]

In [86]:
l=[2,4,5]
c=[]
c=l.copy()
l.append(7)

c

[2, 4, 5]

In [76]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an
# Arithmetic Progression

[3, 6, 9, 12]

# Set - Data Structure in Python
    * Represented by  '{}'
    * Repeated elements are removed and given a unique data

In [93]:
a={1,2,3,4,5,6,4,3,2}
a.add(9) --> adding a single elements to a set
a
for i in a:
    print(i,end=' ')

1 2 3 4 5 6 9

In [140]:
# adding a multiple elements in a single to a set
b={1,0,8,10,147,999}
l=[]
#a.update(b)
a.discard(9)
b

{0, 1, 8, 10, 147, 999}

In [128]:
print(a)
print(b)
a.union(b) #---> it used to get all elements in 2 set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 147}
{0, 1, 8, 10, 147}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 147}

In [117]:
a.intersection(b) #----> it used to get only common elements in a 2 set

{0, 1, 8, 10}

In [115]:
c={111,123}
a.isdisjoint(b) #--->If their is no common elements in both sets then it returns True else False
a.isdisjoint(c)

True

In [149]:
a-b # ---> it removes common elements and returns only remaining A set 
b-a # ---> it remove common elements and return only remaining B set

{999}

In [148]:
print(a)
print(b)
a^b  # elements either in A or in B
b^a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 147}
{0, 1, 999, 8, 10, 147}

{2, 3, 4, 5, 6, 7, 999}

In [145]:
d= set() #--> creating an empty set
d

set()

In [146]:
l=[1,2,3,4,5,5,4,3,2]
u=set(l)
u

{1, 2, 3, 4, 5}

# Functional Programming

Procedural : C

Object Oriented : Java
        
Scripting : PHP , Python , Javascript, Shell, Perl
    
Functional : Python , Haskell , Scala 
    
Logic  : Prolog , Lisp

# List Comprehensions

In [152]:
# list of N natural numbers in a list

n=10
l=[]
for i in range(n):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
l=[i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [157]:
# Apply list comprehension to store the cubes on N natural numbers
l=[i**3 for i in range(1,11)]
l

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# function to calculate factorial


num=

In [164]:
# calculate or store cumaletive sum of numbers till n in a list
# ex: if n=3  ---> [1,3,6] sum(0-1),sum(0-2), sum(0,3)
j=5
t=0
l=[]
for i in range(j+1):
    t+=i
    l.append(t)
print(l)

[0, 1, 3, 6, 10, 15]

In [184]:
j=5
lp=[sum(range(1,i+1)) for i in range(j+1)]
lp

[0, 1, 3, 6, 10, 15]

In [187]:
# List comprehension to store only leap year in a given time period 
def leapyear(i):
    for i in range(startyear,endyear):
        if i%400==0 or i%40==0 and i%100!=0:
            print(i,end='')
            
startyear=1970
endyear=2019
leapyears=[]

# Iterators
         Iterable ----> Strings,tuples,list,set,Dictionaries
         Convert Iterable to Iterator---> iter()
         For Loop:
         
         iterator:

In [207]:
it=iter("Python")
print("1:")
print(next(it))
print("2:")
print(next(it))
print("3:")
print(next(it))
print("4:")
print(next(it))
print("5:")
print(next(it))

1:
P
2:
y
3:
t
4:
h
5:
o

# Generators
    
        Generators in Function

In [228]:
def gen():
    n=2
    yield n
    
    n=n**3
    yield n
    
    n=n**2
    yield n
a=gen()
print(next(a))
print(next(a))
print(next(a))

2
8
64

In [227]:
def gen(): # ----> generator is generally a class
    n=2
    while True:  #for i in range(1,6):
        n **=3
        yield n
        
        
a=gen()
for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208