In [4]:
s="sahithi bindhalam".split()
s[0]+"."+s[1][0]

'sahithi.b'

In [6]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
# 'capitalize'
s="polamarasetty Lavanya"
s.capitalize()

'Polamarasetty lavanya'

In [8]:
# 'casefold'
s.casefold() #returns caseless char's

'polamarasetty lavanya'

In [10]:
# 'center'
s.center(40) # returns white space and string in center

'         polamarasetty Lavanya          '

In [85]:
# 'count'
s="lpoavnyapopotti"
help("".count)
s.count("po",1,12) # returns count of given char in a string

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

3

In [12]:
# 'encode'
help("".encode)

Help on built-in function encode:

encode(encoding='utf-8', errors='strict') method of builtins.str instance
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

In [157]:
# 'encode'
s1="apple"
s=s1.encode("utf-8")
s

b'apple'

In [27]:
#decode
s.decode("utf-8","strict")

AttributeError: 'str' object has no attribute 'decode'

In [28]:
# 'endswith'
s.endswith("a") # return True if the given char ends with given char else False

True

In [41]:
# 'expandtabs'
s="potti\t\t\t lavanya"
help("".expandtabs)
s.expandtabs()

Help on built-in function expandtabs:

expandtabs(tabsize=8) method of builtins.str instance
    Return a copy where all tab characters are expanded using spaces.

    If tabsize is not given, a tab size of 8 characters is assumed.

'potti                    lavanya'

In [45]:
# 'find'
s.find("o") # returns the index val of char in a given string

1

In [164]:
# 'format'
help("".format)
s="python"
#s.format("my name is %s",s)
'length of {1} is {0}'.format(len(s),s)

Help on built-in function format:

format(...) method of builtins.str instance
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

'length of python is 6'

In [166]:
# 'format_map'
help("".format_map)
'length of {arg1} is {arg0}'.farmat_map({'arg0':len(s),"arg0":s})

Help on built-in function format_map:

format_map(...) method of builtins.str instance
    S.format_map(mapping) -> str

    Return a formatted version of S, using substitutions from mapping.
    The substitutions are identified by braces ('{' and '}').

AttributeError: 'str' object has no attribute 'farmat_map'

In [105]:
# 'index'
help("".index)
s.index("a",1) # returns index of first occurence of char in in a string

Help on built-in function index:

index(...) method of builtins.str instance
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

3

In [118]:
#  'isalnum'
s="#"
help("".isalnum)
s.isalnum() # returns True if any one char or num existed else False

Help on built-in function isalnum:

isalnum() method of builtins.str instance
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

False

In [113]:
# 'isalpha
s="potti"
s.isalpha() # returns True if all char in a string

True

In [130]:
# 'isascii'
s=""
help("".isascii)
s.isascii() # Return True if all characters in the string are ASCII, False otherwise.

Help on built-in function isascii:

isascii() method of builtins.str instance
    Return True if all characters in the string are ASCII, False otherwise.

    ASCII characters have code points in the range U+0000-U+007F.
    Empty string is ASCII too.

True

In [135]:
# 'isdecimal'
s="111"
s.isdecimal()

True

In [169]:
# "maketrans"
table=s.maketrans('abc','def')

In [170]:
# 'trnslate'
s1="safdf"
s1.translate(table)

'sdfdf'

In [173]:
s1="asas"
s1.translate({97:'z'})

'zszs'

In [184]:
# 'isnumeric'
s="345"
s.isnumeric() # return True when integer in str format

True

In [182]:
# 'isdigit'
s='24'
s.isdigit()

True

In [201]:
# 'isidentifier'
s="s241"
s.isidentifier() 
# rule: shouldn't starts with num,spl char's accepts only chars and _  
# it accepts only char,integers,_    not spl char's
# ex: email format, variable declaration

False

In [205]:
# 'isspace'
s=" "
s.isspace() # returns True is input have only space else True

True

In [209]:
# 'istitle'

s="lavanay"
s.istitle() # returns True if first char in a string is cap's else False

False

In [211]:
# 'islower'
"a".islower()

False

In [212]:
# 'isupper'
"A".isupper()

True

In [219]:
# 'join'
".".join("syghd")

's.y.g.h.d'

In [228]:
# 'ljust'
help("".ljust)
s.ljust(16," ")

Help on built-in function ljust:

ljust(width, fillchar=' ', /) method of builtins.str instance
    Return a left-justified string of length width.

    Padding is done using the specified fill character (default is a space).

'lavanay         '

In [231]:
# 'lower'
s="LAVANYA"
s.lower()

'lavanya'

In [232]:
 # 'upper'
s="lavanya"
s.upper()

'LAVANYA'

In [234]:
# 'lstrip'
s="           lavnya       "
s.lstrip()

'lavnya       '

In [235]:
# 'rstrip'
s="          lavanya        "
s.rstrip()

'          lavanya'

In [251]:
# 'partition'
s="lavnya is good girl"
help("".partition)
s.partition(",")

Help on built-in function partition:

partition(sep, /) method of builtins.str instance
    Partition the string into three parts using the given separator.

    This will search for the separator in the string.  If the separator is found,
    returns a 3-tuple containing the part before the separator, the separator
    itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing the original string
    and two empty strings.

('lavnya is good girl', '', '')

In [35]:
s="first name lavanya"
s.replace(" ","_")

'first_name_lavanya'

In [27]:
s="first name".split()
s[0]+s[1].capitalize()

'firstName'

In [261]:
# 'rfind'
help("".rfind)

Help on built-in function rfind:

rfind(...) method of builtins.str instance
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [105]:
# given all the individual scores of 10 batmen along with their names
# print their rankings based on the scores
# example:
    # a : 20
    # b : 300
    # c : 400
    # d : 100
    # r : 10
# 1 c
# 2 b
# 3 d
# 4 a
# 5 r
def creatdict():
    d={}
    for i in range(5):
        val=input()
        key=int(input())
        d[key]=val
    #print(d)
    d=sorted(d.items(),reverse=True)
    #print(d)
    for i in d:
        print(i[1],":",i[0])
    
creatdict()

a
10
b
1
c
0
d8
12
r
34
r : 34
d8 : 12
a : 10
b : 1
c : 0

In [13]:
# given two 

def factsoftwoInt(a,b):
    for i in range(1,a+1):
        if a%i==0 and b%i==0:
            print(i)

a=int(input())
b=int(input())
factsoftwoInt(a,b)

5
10
1
5

In [95]:
s="my name is lavanya"
s1=s.replace("lavanya","sahithi")
s1.split()
s1.title()

'My Name Is Sahithi'

In [53]:
a=[23,45,56,58]
c1= [i+5 for i in a]
c1

[28, 50, 61, 63]

In [54]:
c2= [a[i]+5 for i in range(len(a))]
c2

[28, 50, 61, 63]

In [55]:
d={i:i%2 for i in a}
d

{23: 1, 45: 1, 56: 0, 58: 0}

In [56]:
d1={i:2 for i in a}
d1

{23: 2, 45: 2, 56: 2, 58: 2}

In [60]:
a[1]=2342
a

[23, 2342, 56, 58]

In [61]:
d2={i:len(str(i)) for i in a}
d2

{23: 2, 2342: 4, 56: 2, 58: 2}

In [65]:
def digitCount(i):
    return len(str(i))

d2={i:digitCount(i) for i in a}
d2

{23: 2, 2342: 4, 56: 2, 58: 2}

# lambda

In [66]:
g=lambda i:len(str(i))
d3= {i:g(i) for i in a}
d3

{23: 2, 2342: 4, 56: 2, 58: 2}

In [67]:
add = lambda x,y:x+y
add(10,12)

22

In [68]:
"34"+"45"

'3445'

In [71]:
add(34+"3")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
odd =lambda x: 1 if x%2==1 else 0
odd(3)

1

# Map

In [78]:
print(a)
list(map(odd,a))

[23, 2342, 56, 58]

[1, 0, 0, 0]

In [82]:
b=[1,0,1,0]
list(map(lambda x,y:x+y,a,b))

[24, 2342, 57, 58]

In [83]:
list(filter(odd,a))

[23]

In [87]:
a=[23,354,70,5454]
list(filter(lambda x:x-70,a))

[23, 354, 5454]

In [88]:
ch=[]
for i in a:
    if i-70!=0:
        ch.append(i)
ch

[23, 354, 5454]

In [100]:
help("".zfill)

Help on built-in function zfill:

zfill(width, /) method of builtins.str instance
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

In [104]:
# 'zfill'
s.zfill(30)

'000000000000my name is lavanya'

In [106]:
# 'rfind'
help("".rfind)

Help on built-in function rfind:

rfind(...) method of builtins.str instance
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [112]:
# 'rjust'
s="lavanya"
help("".)
s.rfind("a")# rfind gives last occurence of the given string index

6

In [119]:
# 'rindex'
s.rindex("a") # rindex gives last occurance of the given string index

6

In [2]:
s="hii welcome to apssdc 23444 hi iiit 432 lavanys 9875"
l=[]
for i in s.split():
    if i.isdigit():
        l.append(int(i))
print(l)
print(max(l))

[23444, 432, 9875]
23444

In [21]:
# 'splitlines'
s="my annaya is dhfjsdh  \n iam very happy"
s.splitlines()

['my annaya is dhfjsdh  ', ' iam very happy']

In [22]:
s.swapcase()

'MY ANNAYA IS DHFJSDH  \n IAM VERY HAPPY'

In [23]:
s.upper()

'MY ANNAYA IS DHFJSDH  \n IAM VERY HAPPY'

In [25]:
s.lower()

'my annaya is dhfjsdh  \n iam very happy'

In [26]:
s=s.replace("dhfjsdh","")
s

'my annaya is   \n iam very happy'

In [27]:
s

'my annaya is   \n iam very happy'