#### MarkDown Basics

* **Bold** <br>
* *italic* <br>
* ***bt*** <br>
* normal text
  * subtitle 
  #subtitle2 <br>
  
> 1.Ordered list 1 <br>
> 2.Ordered list 2

- [ ] option1
- [ ] option2
- [x] Option3<br>



[Jupyter logo](jupyterlog.png)
![Jupyter logo](jupyterlog.png)
 <img src="jupyterlog.png" style="float:right">
 
I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search" 
  

 #`printf("Hello Markdown")`
 
 
  #`markdown@google.com`
 [Jupyter log](jupyterlog.png)[Jupyter log]

SyntaxError: invalid syntax (<ipython-input-4-82c3768de234>, line 1)

##                                Python Basics

#### Python 3.7

* Scripting 
* Object oriented
* Functional

In [20]:
# python comments

print("Good afternoon..!","mercy",end=' ||') # basic output
print("Hello python")

Good afternoon..! mercy ||Hello python

## Assignment

In [21]:
n1 = 123456 # single variable assignment

n2=n3=n4=n1  # multi variable assignment of the same value
n4

a,b,c=12,23,44# multi variable assignment with different values
a
b
c
a,b,c
print(a,b,c)

12 23 44

## Data types
 - int
 - float 
 - string 
 - double

In [32]:
type(a)
s1 ="python"
type(s1)
f1=34.23
f1
type(f1)
int(f1) # converts float to int
float(str(int (f1))) # converts float into integer and again integer into str and again into float

34.0

In [10]:
atoms=10**3
if atoms < 10**9:
    print("True")
else:
    print("False")

True

## Arthmetic Operations
* +
* -
* *
* %
* /
* **

In [36]:
n%3 # n is declared previouse cell

n3=n2 **123
n3
type(n3)
len(str(n3))

627

## Conditionals

In [26]:
atoms=10**3
if atoms < 10**9:
    print("True")
else:
    print("False")

True

In [ ]:
# even or odd

In [2]:
##### find the greatest of 3 numbers

n1=int(input("enter n1 value"))
n2=int(input("enter n2 value"))
n3=int(input("enter n3 value"))

if n1>n2 and n1>n3:
    print(n1, "is the greatest")
elif n2>n3:
    print(n2, "is the greatest")
else:
    print(n3,"is greatest")

enter n1 value-546
enter n2 value-5
enter n3 value0
0 is greatest

In [8]:
# leap year or not
year= int(input("enter a year"))
if year%400==0 or (year%4==0 and year%100!=0):
    print(year,"leap year")
else:
    print(year," not leap year")

enter a year2100
2100  not leap year

In [9]:
#check if a number exists in agiven range
n1 = eval(input("enter a number"))
lb=25
ub=70
if lb<n1<ub:
    print("the number is in range")
else:
    print("not exists")

enter a number56
the number is in range

In [33]:
#calculate the number of digits in a number
n= eval(input("enter number"))
len(str(n))

enter number1234

4

In [32]:
# check if number is mul of 10
n= eval(input("enter number"))
if n%10==0:
    print("True")
else:
    print("False")

enter number100
True

In [35]:
#check if a number is a factor of 1000
n= eval(input("enter number"))
if 1000%n==0:
    print("yes, it is")
else:
    print("not factor")

enter number100
yes, it is

In [37]:
#check if given string is equal to a number
s1="13434"
n1 =2432
if str(n1)==s1:
        print("is equal")
else:
    print("not equal")

not equal

In [40]:
# calculate the square root of a num without function
n= eval(input("enter number"))
p=n**0.5
print(int(p))

enter number1024
32

In [38]:
#calculate the num of nano seconds in a given year (considering leap year logic)
n= eval(input("enter year"))
if  year%400==0 or (year%4==0 and year%100!=0):
    print(366 * 24* 60 * 60 * (10**9))
else:
    print(365 * 24* 60 * 60 * (10**9))

enter year2100
31536000000000000

In [7]:
[a](jypiter.png)

NameError: name 'a' is not defined

In [8]:
[]

SyntaxError: invalid syntax (<ipython-input-8-c4cc5c970d10>, line 1)

![jupyter](jypiter.png)